# 受験マップの API の契約（JUK-76）。このファイルが正で、型はここから生成する。
#   - Go（apps/api-go/openapi.gen.go）：oapi-codegen（apps/api-go/oapi-codegen.yaml）
#   - TypeScript（src/shared/openapi.gen.ts）：openapi-typescript
# 形を変えるときはこのファイルを直し、`pnpm openapi:generate` を流す。CI は生成し直して差分が出たら落とす。
#
# 今ここにあるのは、Go が受け持つ API（読み取り・毎日の通知・sim・CSP の報告・登録の計測・移した書き込み・LINE 連携・利用者の管理）。
# 書き込みの API は Go へ移すとき（JUK-75）に足す。
#
# 書き込みのリクエストの本文には「形」（型・必須・enum・長さ・範囲）を書く。規則の正は Zod
# （src/shared/validations/）で、Go は同じ規則を apps/api-go に手で書く（項目をまたぐ規則はスキーマに
# 書けないため）。ここの制約は読む人と生成する型のためのもので、実行時にこのファイルで検証はしない。
#
# 書き方の決まり：
#   - Node と Go はキーを必ず出す（値が無ければ null）。そのため項目は基本すべて required にし、
#     null になりうるものに nullable を付ける。required でない項目は「キーごと無いことがある」の意味
#   - 日時は Date を JSON にしたときの ISO 文字列（"2026-09-24T00:00:00.000Z"）。IsoDateTime を使う
openapi: 3.0.3
info:
  title: 受験マップ API
  version: "1"
servers:
  - url: https://juken-map.com
security:
  - sessionCookie: []

paths:
  /api/health:
    get:
      operationId: getHealth
      summary: 死活監視（DB まで見る）
      security: []
      responses:
        "200":
          description: 動いている
          content:
            application/json:
              schema:
                type: object
                required: [ok, commit]
                properties:
                  ok: { type: boolean, enum: [true] }
                  # 動いているイメージを作ったコミット（git の SHA）。本番で新しい版が動いているかを
                  # デプロイ後の E2E が確かめる（JUK-101）。イメージを作るときに埋め込むので、
                  # ローカルや CI のように埋め込まずに動かしたときは null
                  commit: { type: string, nullable: true }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/dashboard:
    get:
      operationId: getDashboard
      summary: ダッシュボードの初回表示ぶん
      responses:
        "200":
          description: 期間はサーバーが決める
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dashboard" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/study-logs:
    get:
      operationId: listStudyLogs
      summary: 自分の実績の一覧（新しい日付から。同じ日は記録した順）
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: from を省くと直近90日、to を省くと上限なし。暦に無い日付（2026-13-45）は空の一覧
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/StudyLog" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createStudyLog
      summary: 実績を1件記録する（初めての記録なら isFirstStudyLog が true）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudyLogInput" }
      responses:
        "201":
          description: 記録した実績
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreatedStudyLog" }
        "400":
          description: >-
            入力チェックで弾いた（ValidationError の形）か、参考書が自分のものでない・範囲が参考書の設定と
            合わない（Error の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/study-logs/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    patch:
      operationId: updateStudyLog
      summary: >-
        実績を書き換える（本文は POST と同じ形で、全項目を送る）。予定から作った実績は、
        日付・科目・参考書を書き換えない（送っても元の値のまま）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudyLogInput" }
      responses:
        "200":
          description: 書き換えた後の実績
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StudyLogRow" }
        "400":
          description: >-
            ID の形が違う・参考書が合わない（Error の形）か、入力チェックで弾いた（ValidationError の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteStudyLog
      summary: 実績を消す
      responses:
        "200":
          description: 消した
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Deleted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/study-logs/daily:
    get:
      operationId: listDailyStudyMinutes
      summary: 日ごとの合計学習時間（新しい日付から）
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: from を省くと直近365日
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/DailyStudyMinutes" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/study-plans:
    get:
      operationId: listStudyPlans
      summary: 自分の予定の一覧（古い日付から。同じ日は作った順）
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: 省くと今日の前後90日
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/StudyPlan" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createStudyPlans
      summary: 1つの日付に予定をまとめて作る
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudyPlansInput" }
      responses:
        "201":
          description: 作った件数
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CreatedCount" }
        "400":
          description: >-
            入力チェックで弾いた（ValidationError の形。項目は "items.0.content" のように要素の番号つき）か、
            自分のでない参考書が含まれる（Error の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/study-plans/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    patch:
      operationId: updateStudyPlan
      summary: 予定の送った項目だけを書き換える（入力チェックは、自分の予定かを確かめるより先）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/StudyPlanUpdateInput" }
      responses:
        "200":
          description: 書き換えた後の予定
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StudyPlanRow" }
        "400":
          description: ID の形が違う・自分のでない参考書（Error の形）か、入力チェックで弾いた（ValidationError の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: 実績を記録済みの予定を未完了（done=false）に戻そうとした
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteStudyPlan
      summary: 予定を消す（ひも付いた実績は残り、studyPlanId が null になる）
      responses:
        "200":
          description: 消した
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Deleted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/study-plans/{id}/complete:
    parameters:
      - $ref: "#/components/parameters/ID"
    post:
      operationId: completeStudyPlan
      summary: >-
        予定を完了にし、実績を1件作る。日付・科目・参考書は予定のもの。範囲は送ったものを使い、
        送らなければ予定の範囲を使う
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompleteStudyPlanInput" }
      responses:
        "201":
          description: 作った実績（参考書つき）と、完了にした予定
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompletedStudyPlan" }
        "400":
          description: ID の形が違う・範囲が予定の参考書の設定と合わない（Error の形）か、入力チェックで弾いた（ValidationError の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: この予定の実績はもう記録されている（同時に完了したときも）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/goals:
    get:
      operationId: listGoals
      summary: 志望校の一覧（学部・大学・学部のタグつき。作った順）
      responses:
        "200":
          description: 志望校の一覧
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Goal" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createGoal
      summary: 志望校を登録する（学部・大学つきで返す。タグは付けない）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GoalInput" }
      responses:
        "201":
          description: 登録した志望校
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FirstChoiceGoal" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "409":
          description: 同じ学部をすでに登録している
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/goals/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    put:
      operationId: replaceGoalFaculty
      summary: 志望校の学部を差し替える（facultyId が無ければ何も変えない。status は受け付けるが書かない）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GoalUpdateInput" }
      responses:
        "200":
          description: 差し替えた後の志望校（学部は含まない）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GoalFields" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateGoal
      summary: 第一志望・メモ・ステータスのうち送った項目だけを書き換える（第一志望は1人1校に保つ）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GoalPatchInput" }
      responses:
        "200":
          description: 書き換えた
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OkMessage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteGoal
      summary: 志望校を消す
      responses:
        "200":
          description: 消した
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Deleted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/goals/first-choice:
    get:
      operationId: getFirstChoiceGoal
      summary: 第一志望（トップの表示用。タグは付けない）
      responses:
        "200":
          description: 第一志望が無ければ null
          content:
            application/json:
              schema:
                allOf: [{ $ref: "#/components/schemas/FirstChoiceGoal" }]
                nullable: true
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/textbooks:
    get:
      operationId: listTextbooks
      summary: 自分の参考書の一覧（名前順）
      responses:
        "200":
          description: 参考書の一覧
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TextbookRow" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createTextbook
      summary: 参考書を登録する（名前で作るか、参考書マスターから作る）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TextbookInput" }
      responses:
        "201":
          description: 登録した参考書
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TextbookRow" }
        "400":
          description: >-
            入力チェックで弾いた（ValidationError の形）か、マスターに総量の候補が無い（Error の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: 参考書マスターが無い
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "409":
          description: 同じ名前の参考書をすでに登録している
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/textbooks/{id}:
    parameters:
      - $ref: "#/components/parameters/ID"
    patch:
      operationId: updateTextbookProgress
      summary: 逆算設定（総量・単位・目標日・科目）の送った項目だけを書き換える
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TextbookProgressInput" }
      responses:
        "200":
          description: 書き換えた後の参考書
          content:
            application/json:
              schema: { $ref: "#/components/schemas/TextbookRow" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404":
          description: 無いか、自分のものでない
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/textbook-masters:
    get:
      operationId: listTextbookMasters
      summary: 参考書マスターの一覧（総量の候補つき。全員に同じもの）
      responses:
        "200":
          description: 参考書マスターの一覧
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/TextbookMaster" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/notification-preferences:
    get:
      operationId: getNotificationPreferences
      summary: 自分の通知設定（保存していなければ全部 false）
      responses:
        "200":
          description: 通知設定
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreference" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    put:
      operationId: saveNotificationPreferences
      summary: 自分の通知設定を保存する（無ければ作る）
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NotificationPreference" }
      responses:
        "200":
          description: 保存した通知設定
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationPreference" }
        "400":
          # oneOf で2つの形を並べると、oapi-codegen が union の型と外部の runtime パッケージを持ち込むので、
          # 両方に共通する Error（error だけ）で書く。
          description: >-
            入力チェックで弾いた（ValidationError の形）か、LINE と連携せずに LINE 通知を選んだ（Error の形）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/profile:
    put:
      operationId: updateProfile
      summary: 自分のニックネームを変える
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProfileInput" }
      responses:
        "200":
          description: 更新した後の利用者
          content:
            application/json:
              schema: { $ref: "#/components/schemas/User" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/universities:
    get:
      operationId: listUniversities
      summary: 大学を探す画面の一覧（全員に同じもの）
      description: >-
        サーバーは JSON をメモリに持ち、ETag を付ける。If-None-Match が合えば 304 で本文を省く。
        Accept-Encoding が gzip を受け付けるなら、圧縮済みの形を返す。
      parameters:
        - name: If-None-Match
          in: header
          required: false
          schema: { type: string }
      responses:
        "200":
          description: 大学の一覧（名前順）
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            Cache-Control: { $ref: "#/components/headers/CacheControl" }
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ExploreUniversity" }
        "304":
          description: 変わっていない
          headers:
            ETag: { $ref: "#/components/headers/ETag" }
            Cache-Control: { $ref: "#/components/headers/CacheControl" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/universities/{id}:
    get:
      operationId: getUniversity
      summary: 大学詳細（学部・タグと、自分が志望校に登録済みの学部 ID）
      parameters:
        - name: id
          in: path
          required: true
          description: 数字だけの正の整数（15桁まで）。形が違えば 400
          schema: { type: string, pattern: "^[1-9][0-9]{0,14}$" }
      responses:
        "200":
          description: 大学詳細
          content:
            application/json:
              schema: { $ref: "#/components/schemas/UniversityDetailResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/cron/daily-study-notifications:
    post:
      operationId: sendDailyStudyNotifications
      summary: 毎日の学習通知を送る（EC2 の systemd timer が朝7時・夜21時に呼ぶ）
      security:
        - cronBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slot]
              properties:
                slot: { $ref: "#/components/schemas/NotificationSlot" }
      responses:
        "200":
          description: 送った件数。同じ日・同じ時間帯の2回目は skipped
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NotificationSummary" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/analytics/registration:
    post:
      operationId: trackRegistration
      summary: 本登録の完了を GA4 に送ってよいか（初回だけ true。2回目以降は false）
      description: 本文は読まない（送られても使わない）
      responses:
        "200":
          description: 送ってよいか。初回だけ登録に使った方法も返す
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RegistrationTracking" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/csp-report:
    post:
      operationId: reportCspViolation
      summary: ブラウザが送る CSP の違反の報告。ログにだけ残す（DB には書かない）
      description: >-
        report-uri（application/csp-report）と report-to（application/reports+json）の両方の形を受ける。
        読めない本文でも 204（ブラウザに送り直させない）。本文は 16KB まで、1回に読む報告は20件まで
      security: []
      requestBody:
        required: false
        content:
          application/csp-report:
            schema: { type: object }
          application/reports+json:
            schema: { type: array, items: { type: object } }
      responses:
        "204":
          description: 受け取った（中身が読めなくても同じ）
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }

  /api/sim/state:
    get:
      operationId: getSimulationState
      summary: シミュレーションの合成ユーザーの一覧と、次に使う連番（SIMULATION_ENABLED=on のときだけある）
      security:
        - simBearer: []
      responses:
        "200":
          description: 合成ユーザー（連番の昇順）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SimulationState" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/sim/users:
    post:
      operationId: markSimulationUser
      summary: 登録を済ませた合成ユーザーに、連番と続き方の型を付ける
      security:
        - simBearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SimulationUserMark" }
      responses:
        "204":
          description: 付けた
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: その連番はすでに使われている
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/sim/users/{seq}:
    patch:
      operationId: updateSimulationUser
      summary: 最後に操作した日・来なくなった日を記録する（キーが無い項目は変えない）
      security:
        - simBearer: []
      parameters:
        - name: seq
          in: path
          required: true
          schema: { type: integer, format: int64, minimum: 1 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/SimulationUserUpdate" }
      responses:
        "204":
          description: 記録した（変える項目が無ければ、その連番が無くても 204）
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/line/connection:
    get:
      operationId: getLineConnection
      summary: LINE と連携しているか（プロフィール画面）
      responses:
        "200":
          description: 連携の有無
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LineConnectionStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: disconnectLine
      summary: LINE との連携を解除する。LINE の通知設定も切る
      responses:
        "200":
          description: 解除した（連携していなくても 200）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LineConnectionStatus" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/line/account-link:
    post:
      operationId: startLineAccountLink
      summary: トークから始めた連携（Account Link）で、使い捨ての nonce を発行して LINE の連携画面の URL を返す
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [linkToken]
              properties:
                linkToken: { type: string, minLength: 1, maxLength: 255 }
      responses:
        "200":
          description: 画面はこの URL へ移る
          content:
            application/json:
              schema:
                type: object
                required: [redirectUrl]
                properties:
                  redirectUrl: { type: string, format: uri }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/line/oauth/start:
    get:
      operationId: startLineLogin
      summary: LINE Login を始める（画面遷移。未ログインはログイン画面へ）
      responses:
        "302":
          description: LINE の同意画面、ログイン画面、または失敗を知らせるプロフィール画面へ
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/line/oauth/callback:
    get:
      operationId: completeLineLogin
      summary: LINE Login の戻り先。結果はプロフィール画面へ ?line=<結果> で知らせる
      parameters:
        - { name: state, in: query, required: false, schema: { type: string } }
        - { name: code, in: query, required: false, schema: { type: string } }
        - { name: error, in: query, required: false, schema: { type: string } }
      responses:
        "302":
          description: >-
            プロフィール画面へ（line=connected・cancelled・invalid・expired・friend-required・already-used・failed）。
            セッションが切れていれば、この URL を戻り先にしてログイン画面へ
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/line/webhook:
    post:
      operationId: receiveLineWebhook
      summary: LINE の Webhook。署名（x-line-signature）を本文のまま確かめ、同じイベントの再送は処理しない
      security: []
      parameters:
        - { name: x-line-signature, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: LINE の Webhook の本文（使う項目は apps/api-go/line.go の lineEvent）
      responses:
        "200":
          description: 受け取った（イベントごとの失敗はログにだけ残す）
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok: { type: boolean, enum: [true] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "413": { $ref: "#/components/responses/BadRequest" }

  /api/webhooks/microcms:
    post:
      operationId: receiveMicrocmsWebhook
      summary: microCMS の Webhook。署名（x-microcms-signature）を本文のまま確かめ、公開中の中身が変わったら記事を作り直すデプロイを動かす
      description: |
        続けて来た通知は1分に1回の作り直しにまとめる（間の中の通知は、間が明けたときの1回に予約する）。
        下書きの保存だけなど、公開中の中身が変わらない通知では動かさない。
      security: []
      parameters:
        - { name: x-microcms-signature, in: header, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: microCMS の Webhook の本文（使う項目は apps/api-go/microcms_webhook.go の microcmsPayload）
      responses:
        "200":
          description: 受け取った。dispatched はすぐ動かした、queued は予約した、skipped は動かさなかった
          content:
            application/json:
              schema:
                type: object
                required: [deploy]
                properties:
                  deploy: { type: string, enum: [dispatched, queued, skipped] }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "413": { $ref: "#/components/responses/BadRequest" }
        "502":
          description: GitHub の API でデプロイを動かせなかった
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/admin/overview:
    get:
      operationId: getAdminOverview
      summary: 管理画面の概要。種別ごとの人数と、実ユーザーの日別新規登録（管理者＋2段階認証だけ）
      responses:
        "200":
          description: 種別は USER_KINDS の順に全部並ぶ（0人の種別も 0 で）
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminOverview" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/users:
    get:
      operationId: listAdminUsers
      summary: 種別で絞った利用者の一覧（新しい順、1ページ50人）
      parameters:
        - name: kind
          in: query
          required: false
          schema: { $ref: "#/components/schemas/UserKind" }
          description: 省くと real
        - name: q
          in: query
          required: false
          description: メールアドレスの部分一致（前後の空白は無視）
          schema: { type: string, maxLength: 191 }
        - name: page
          in: query
          required: false
          description: 1から。省くと 1。数として読める文字列なら受け付ける（Zod の coerce）
          schema: { type: integer, minimum: 1, maximum: 10000 }
      responses:
        "200":
          description: 一覧
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminUserList" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/users/{id}/ban:
    post:
      operationId: banUser
      summary: 利用者を停止する。今のセッションを消して画面を落とし、次のログインも断る
      parameters:
        - $ref: "#/components/parameters/AdminUserID"
      responses:
        "200":
          description: 停止した。すでに停止済みなら最初に止めた日時のまま
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminBanResult" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminUserProtected" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/users/{id}/unban:
    post:
      operationId: unbanUser
      summary: 停止を解除する（止まっていなければ何も変わらない）
      parameters:
        - $ref: "#/components/parameters/AdminUserID"
      responses:
        "200":
          description: 解除した
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminUserRef" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/users/{id}:
    delete:
      operationId: deleteUser
      summary: 利用者を消す。確認のため、本人のメールアドレスが一致しないと消さない
      parameters:
        - $ref: "#/components/parameters/AdminUserID"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, minLength: 1, maxLength: 191, description: 大文字小文字と前後の空白は無視して比べる }
      responses:
        "200":
          description: 消した。ぶら下がる行は外部キーの CASCADE で一緒に消える
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminDeleteResult" }
        "400":
          description: >-
            入力チェックで弾いた（ValidationError の形：文言・コード・項目）か、
            メールアドレスが一致しない（文言だけ）。どちらも error は必ずある
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminUserProtected" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  # ---- マスター編集（/admin/masters、JUK-78）。変更はすべて構造化ログ「admin master change」に残す ----

  /api/admin/universities:
    get:
      operationId: listAdminUniversities
      summary: 大学の一覧（名前の部分一致、名前順、1ページ50件）。学部の数と、配下の学部を志望校にしている件数つき
      parameters:
        - name: q
          in: query
          required: false
          description: 大学名の部分一致。前後の空白を削ってから100文字（コードポイント）まで。空なら絞らない
          schema: { type: string, maxLength: 100 }
        - name: page
          in: query
          required: false
          description: 1から。省くと 1。数として読める文字列なら受け付ける（Zod の coerce）
          schema: { type: integer, minimum: 1, maximum: 1000 }
      responses:
        "200":
          description: 一覧
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminUniversityList" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createUniversity
      summary: 大学を作る。大学を探す画面の一覧のキャッシュを捨てる
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UniversityInput" }
      responses:
        "201":
          description: 作った
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminUniversity" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/universities/{id}:
    get:
      operationId: getAdminUniversity
      summary: 大学と、その学部（タグ・志望校にしている件数つき）
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      responses:
        "200":
          description: 大学と学部
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminUniversityDetail" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalError" }
    patch:
      operationId: updateUniversity
      summary: 大学を書き換える（全項目を送る）
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UniversityInput" }
      responses:
        "200":
          description: 書き換えた後の大学
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminUniversity" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteUniversity
      summary: 大学を消す（学部は CASCADE で一緒に消える）。配下の学部が1件でも志望校に使われていれば消さない
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      responses:
        "204": { description: 消した }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/tags:
    get:
      operationId: listAdminTags
      summary: 学部に付けられるタグ（id 順）
      responses:
        "200":
          description: タグ
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AdminTag" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/faculties:
    post:
      operationId: createFaculty
      summary: 学部を作る。同じ大学に同じ名前の学部があれば作らない
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateFacultyInput" }
      responses:
        "201":
          description: 作った
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminFacultySnapshot" }
        "400": { $ref: "#/components/responses/AdminFacultyBadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/faculties/{id}:
    patch:
      operationId: updateFaculty
      summary: 学部を書き換える（名前・受験日・タグ。タグは送ったものに置き換える）
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/FacultyInput" }
      responses:
        "200":
          description: 書き換えた後の学部
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminFacultySnapshot" }
        "400": { $ref: "#/components/responses/AdminFacultyBadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteFaculty
      summary: 学部を消す。志望校に1件でも使われていれば消さない
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      responses:
        "204": { description: 消した }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/textbook-masters:
    get:
      operationId: listAdminTextbookMasters
      summary: 参考書マスター（名前・出版社・ISBN の部分一致、id 順、先頭200件まで）
      parameters:
        - name: q
          in: query
          required: false
          description: 前後の空白を削ってから100文字（コードポイント）まで。空なら絞らない
          schema: { type: string, maxLength: 100 }
      responses:
        "200":
          description: 一覧
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AdminTextbookMaster" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "500": { $ref: "#/components/responses/InternalError" }
    post:
      operationId: createTextbookMaster
      summary: 参考書マスターを作る
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TextbookMasterInput" }
      responses:
        "201":
          description: 作った
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminTextbookMaster" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }

  /api/admin/textbook-masters/{id}:
    patch:
      operationId: updateTextbookMaster
      summary: >-
        参考書マスターを書き換える（総量の候補は送ったものに置き換える）。利用者が登録済みの参考書は
        総量を自分の行に写し取っているので変わらない（これから登録する人から効く）
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TextbookMasterInput" }
      responses:
        "200":
          description: 書き換えた後の参考書マスター
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AdminTextbookMaster" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "413": { $ref: "#/components/responses/PayloadTooLarge" }
        "415": { $ref: "#/components/responses/UnsupportedMediaType" }
        "500": { $ref: "#/components/responses/InternalError" }
    delete:
      operationId: deleteTextbookMaster
      summary: 参考書マスターを消す（総量の候補は CASCADE で一緒に消える）。利用者の参考書が1冊でも使っていれば消さない
      parameters:
        - $ref: "#/components/parameters/AdminMasterID"
      responses:
        "204": { description: 消した }
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/AdminForbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/AdminMasterConflict" }
        "500": { $ref: "#/components/responses/InternalError" }

components:
  securitySchemes:
    sessionCookie:
      type: apiKey
      in: cookie
      name: __Host-jm_session
      description: ログイン（Go の /api/auth/*、JUK-115）が発行するセッション Cookie。中身の無い 256 ビットの乱数のトークン
    cronBearer:
      type: http
      scheme: bearer
      description: DAILY_NOTIFICATION_SECRET
    simBearer:
      type: http
      scheme: bearer
      description: SIMULATION_SECRET（cron とは別のトークン）

  parameters:
    AdminUserID:
      name: id
      in: path
      required: true
      description: 利用者の ID（Better Auth の user.id）
      schema: { type: string, minLength: 1, maxLength: 191 }
    AdminMasterID:
      name: id
      in: path
      required: true
      description: >-
        マスターの行の ID。数字だけの正の整数（15桁まで）。形が違えば 400（ID と違い、ValidationError の形で
        code は invalid_format）
      schema: { type: string, pattern: "^[1-9][0-9]{0,14}$" }
    From:
      name: from
      in: query
      required: false
      description: 期間の始まり（その日を含む）
      schema: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
    To:
      name: to
      in: query
      required: false
      description: 期間の終わり（その日を含む）
      schema: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
    ID:
      name: id
      in: path
      required: true
      description: 数字だけの正の整数（15桁まで）。形が違えば 400「ID が正しくありません」
      schema: { type: string, pattern: "^[1-9][0-9]{0,14}$" }

  headers:
    ETag:
      description: JSON の SHA-1 を base64url にしたもの（Node と Go で同じ値）
      schema: { type: string }
    CacheControl:
      description: private, no-cache
      schema: { type: string }

  responses:
    AdminForbidden:
      description: >-
        管理者でない（{"error":"Forbidden"}）、2段階認証を通していない（code が TWO_FACTOR_REQUIRED）、
        利用を停止されている、別のサイトからの書き込み
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    AdminUserProtected:
      description: 相手はいるが守られている（自分自身・他の管理者・デモアカウント。削除はメールアドレスの無い相手も）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    AdminMasterConflict:
      description: >-
        名前・ISBN が重なっている、または使われていて消せない（文言に件数が入る。大学・学部は志望校、参考書は利用者の参考書）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    AdminFacultyBadRequest:
      description: >-
        入力チェックで弾いた（ValidationError の形：文言・コード・項目）か、存在しないタグが含まれている
        （文言だけ）。どちらも error は必ずある
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    BadRequest:
      description: 入力が不正（文言だけ）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ValidationError:
      description: 入力チェックで弾いた（文言・コード・項目）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ValidationError" }
    Unauthorized:
      description: ログインしていない（またはトークンが違う）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: 利用を停止されている、デモアカウントの書き込み、など
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: 見つからない
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    PayloadTooLarge:
      description: 本文が上限（ふだんは 1MiB、CSP の報告は 16KB）を超えた
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ServerError" }
    UnsupportedMediaType:
      description: 受け付けない Content-Type（受けるのは JSON・text/plain・CSP の報告の2種類。本文が無ければ無しでよい）
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ServerError" }
    InternalError:
      description: 想定外の失敗。原因はログにだけ残す
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ServerError" }

  schemas:
    IsoDateTime:
      description: Date を JSON にしたときの ISO 文字列（例 "2026-09-24T00:00:00.000Z"）
      type: string
      format: date-time
      x-go-type: string

    IsoDate:
      description: 日付だけ（"YYYY-MM-DD"、日本時間の日付）
      type: string
      format: date
      x-go-type: string

    UserKind:
      description: >-
        利用者の種別。real は実際の利用者、sim は本番のシミュレーション、seed は手元の負荷検証用、
        demo は面接官向けのデモアカウント
      type: string
      enum: [real, sim, seed, demo]
      x-enum-varnames: [UserKindReal, UserKindSim, UserKindSeed, UserKindDemo]

    KindStats:
      type: object
      required: [kind, total, verified, newLast7Days, activeLast7Days, activeLast30Days]
      properties:
        kind: { $ref: "#/components/schemas/UserKind" }
        total: { type: integer }
        verified: { type: integer }
        newLast7Days: { type: integer }
        activeLast7Days: { type: integer, description: 直近7日に学習記録を作った人（記録した日時で数える） }
        activeLast30Days: { type: integer }

    AdminOverview:
      type: object
      required: [kinds, realSignupsByDay]
      properties:
        kinds:
          type: array
          items: { $ref: "#/components/schemas/KindStats" }
        realSignupsByDay:
          description: 実ユーザーの日別新規登録（日本時間の日付、直近30日。登録0の日は含まない）
          type: array
          items:
            type: object
            required: [date, count]
            properties:
              date: { $ref: "#/components/schemas/IsoDate" }
              count: { type: integer }

    AdminUser:
      type: object
      required: [id, email, nickname, name, kind, role, emailVerified, bannedAt, createdAt, providers, lastLoginAt, studyLogCount, lastStudyLogAt]
      properties:
        id: { type: string }
        email: { type: string, nullable: true }
        nickname: { type: string, nullable: true }
        name: { type: string, nullable: true }
        kind: { $ref: "#/components/schemas/UserKind" }
        role: { type: string, enum: [user, admin] }
        emailVerified: { type: boolean }
        bannedAt:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true
          description: 管理者に停止された日時。null なら停止していない
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        providers:
          description: 認証方法（account.providerId）。credential はメール＋パスワード
          type: array
          items: { type: string }
        lastLoginAt:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true
        studyLogCount: { type: integer }
        lastStudyLogAt:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true

    AdminUserList:
      type: object
      required: [users, total, page, pageSize]
      properties:
        users:
          type: array
          items: { $ref: "#/components/schemas/AdminUser" }
        total: { type: integer }
        page: { type: integer }
        pageSize: { type: integer }

    AdminUserRef:
      description: 操作した相手
      type: object
      required: [id, email]
      properties:
        id: { type: string }
        email: { type: string, nullable: true }

    AdminBanResult:
      type: object
      required: [id, email, bannedAt, sessionsRemoved]
      properties:
        id: { type: string }
        email: { type: string, nullable: true }
        bannedAt: { $ref: "#/components/schemas/IsoDateTime" }
        sessionsRemoved: { type: integer, description: 消したセッションの数（落とした画面の数） }

    AdminDeleteResult:
      type: object
      required: [id, email, removed]
      properties:
        id: { type: string }
        email: { type: string, nullable: true }
        removed:
          description: 一緒に消えた行数（記録のためだけ。消すのは外部キーの CASCADE）
          type: object
          required: [studyLogs, studyPlans, textbooks, finalGoals]
          properties:
            studyLogs: { type: integer }
            studyPlans: { type: integer }
            textbooks: { type: integer }
            finalGoals: { type: integer }

    AdminUniversity:
      type: object
      required: [id, name, prefecture, type, facultyCount, goalCount]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        prefecture: { type: string }
        type: { type: string, description: 国立・公立・私立 }
        facultyCount: { type: integer }
        goalCount: { type: integer, description: 配下の学部を志望校にしている件数。1件でもあれば大学は削除できない }

    AdminUniversityList:
      type: object
      required: [universities, total, page, pageSize]
      properties:
        universities:
          type: array
          items: { $ref: "#/components/schemas/AdminUniversity" }
        total: { type: integer }
        page: { type: integer }
        pageSize: { type: integer }

    AdminTag:
      type: object
      required: [id, name]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }

    AdminFaculty:
      type: object
      required: [id, name, examDate, tags, goalCount]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        examDate:
          description: YYYY-MM-DD（UTC の0時で保存している日付部分）
          type: string
          format: date
          x-go-type: string
        tags:
          type: array
          items: { $ref: "#/components/schemas/AdminTag" }
        goalCount: { type: integer, description: この学部を志望校にしている件数。1件でもあれば削除できない }

    AdminUniversityDetail:
      type: object
      required: [university, faculties]
      properties:
        university: { $ref: "#/components/schemas/AdminUniversity" }
        faculties:
          type: array
          items: { $ref: "#/components/schemas/AdminFaculty" }

    AdminFacultySnapshot:
      description: 学部の作成・書き換えの応答（監査ログの「前・後」と同じ形）
      type: object
      required: [id, universityId, name, examDate, tagIds]
      properties:
        id: { type: integer, format: int64 }
        universityId: { type: integer, format: int64 }
        name: { type: string }
        examDate:
          description: YYYY-MM-DD
          type: string
          format: date
          x-go-type: string
        tagIds:
          type: array
          items: { type: integer, format: int64 }

    AdminTextbookMasterMetric:
      description: 参考書の総量の候補（単位ごと）
      type: object
      required: [unit, totalAmount, isDefault]
      properties:
        unit: { type: string }
        totalAmount: { type: integer }
        isDefault: { type: boolean, description: 利用者が参考書を登録したとき、この候補で総量が入る }

    AdminTextbookMaster:
      type: object
      required: [id, name, publisher, edition, isbn, metrics, textbookCount]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        publisher: { type: string, nullable: true }
        edition: { type: string, nullable: true }
        isbn: { type: string }
        metrics:
          type: array
          items: { $ref: "#/components/schemas/AdminTextbookMasterMetric" }
        textbookCount: { type: integer, description: この参考書から登録された利用者の参考書の数。1冊でもあれば削除できない }

    UniversityInput:
      description: 大学の作成・書き換え（Zod の universityInputSchema）
      type: object
      required: [name, prefecture, type]
      properties:
        name: { type: string, minLength: 1, maxLength: 100, description: 前後の空白を削ってから数える }
        prefecture: { type: string, description: 47都道府県のどれか（src/shared/prefectures.ts の PREFECTURES） }
        type: { type: string, enum: [国立, 公立, 私立], x-enum-varnames: [UniversityTypeNational, UniversityTypePublic, UniversityTypePrivate] }

    FacultyInput:
      description: >-
        学部の書き換え（Zod の facultyInputSchema）。受験日は YYYY-MM-DD で、JavaScript の new Date と同じく
        日は 31 まで受け付けて繰り上げる（2027-02-30 は 3月2日）。タグは重ねられない
      type: object
      required: [name, examDate, tagIds]
      properties:
        name: { type: string, minLength: 1, maxLength: 100, description: 前後の空白を削ってから数える }
        examDate: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
        tagIds:
          type: array
          maxItems: 20
          uniqueItems: true
          items: { type: integer, format: int64, minimum: 1 }

    CreateFacultyInput:
      description: 学部の作成（Zod の createFacultySchema）。FacultyInput に大学を足したもの
      type: object
      required: [name, examDate, tagIds, universityId]
      properties:
        name: { type: string, minLength: 1, maxLength: 100, description: 前後の空白を削ってから数える }
        examDate: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
        tagIds:
          type: array
          maxItems: 20
          uniqueItems: true
          items: { type: integer, format: int64, minimum: 1 }
        universityId: { type: integer, format: int64, minimum: 1 }

    TextbookMasterInput:
      description: >-
        参考書マスターの作成・書き換え（Zod の textbookMasterInputSchema）。スキーマに書けない規則：総量の候補は
        単位が重ならず（duplicate_units）、既定（isDefault）がちょうど1つ（default_unit_required）
      type: object
      required: [name, isbn, metrics]
      properties:
        name: { type: string, minLength: 1, maxLength: 150, description: 前後の空白を削ってから数える }
        publisher: { type: string, nullable: true, maxLength: 100, description: 前後の空白を削り、空なら null で保存する }
        edition: { type: string, nullable: true, maxLength: 50, description: 前後の空白を削り、空なら null で保存する }
        isbn: { type: string, description: ハイフン・空白を除き大文字にしてから、10桁（最後は X 可）か13桁 }
        metrics:
          type: array
          minItems: 1
          maxItems: 6
          items:
            type: object
            required: [unit, totalAmount, isDefault]
            properties:
              unit: { type: string, enum: [page, question, chapter, number, part, section] }
              totalAmount: { type: integer, minimum: 1, maximum: 100000 }
              isDefault: { type: boolean }

    LineConnectionStatus:
      type: object
      required: [connected]
      properties:
        connected: { type: boolean }

    Error:
      description: ルートが自分で断るときのエラー。error は画面にそのまま出す文言
      type: object
      required: [error]
      properties:
        error: { type: string }

    ValidationError:
      description: 入力チェックで弾いたときのエラー（Node の routes/validation-error.ts、Go の query.go）
      type: object
      required: [error, code, field]
      properties:
        error:
          type: string
          description: 画面にそのまま出す文言
        code:
          type: string
          description: >-
            種類。自分で書いた規則は名前（range_end_before_start など）、
            組み込みのチェックは Zod の code（too_small・invalid_type・invalid_format など）
        field:
          type: string
          nullable: true
          description: どの項目か（"rangeEnd"・"items.0.unit"）。項目に結びつかなければ null

    ServerError:
      description: 想定外の失敗・混雑・存在しないパス
      type: object
      required: [error, code, reqId]
      properties:
        error: { type: string }
        code:
          type: string
          # FST_ERR_CTP_* は Fastify の code をそのまま使っている（Node の error-handling.ts）
          # FST_ERR_CTP_INVALID_CONTENT_LENGTH は本文が UTF-8 として不正で、読んだ長さが Content-Length と合わないとき（400）
          enum:
            - INTERNAL_ERROR
            - OVERLOADED
            - NOT_FOUND
            - FST_ERR_CTP_BODY_TOO_LARGE
            - FST_ERR_CTP_INVALID_MEDIA_TYPE
            - FST_ERR_CTP_INVALID_CONTENT_LENGTH
            # 利用者単位の回数制限を超えた（429、Go の user_rate_limit.go）
            - TOO_MANY_REQUESTS
          x-enum-varnames:
            - ServerErrorCodeInternal
            - ServerErrorCodeOverloaded
            - ServerErrorCodeNotFound
            - ServerErrorCodeBodyTooLarge
            - ServerErrorCodeInvalidMediaType
            - ServerErrorCodeInvalidContentLength
            - ServerErrorCodeTooManyRequests
        reqId: { type: string }

    StudyPlanItemInput:
      description: >-
        予定1件（Zod の studyPlanItemSchema）。スキーマに書けない規則：範囲の3つ（StudyLogInput と同じ）と、
        参考書・範囲・メモのどれかが要る（plan_content_required。メモは前後の空白を削った後で見る）
      type: object
      properties:
        textbookId: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeStart: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeEnd: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeUnit:
          type: string
          nullable: true
          enum: [page, question, chapter, number, part, section]
        content:
          description: 500文字（コードポイント）まで。前後の空白は削る。null は不可
          type: string
          maxLength: 500
        subject:
          type: string
          nullable: true
          enum: [english, math, japanese, science, social, other]

    StudyPlansInput:
      description: 予定の作成（Zod の createStudyPlansSchema）。日付は暦にある YYYY-MM-DD（未来も可）
      type: object
      required: [date, items]
      properties:
        date: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
        items:
          type: array
          minItems: 1
          items: { $ref: "#/components/schemas/StudyPlanItemInput" }

    StudyPlanUpdateInput:
      description: >-
        予定の書き換え（Zod の updateStudyPlanSchema）。送った項目だけを書き換える。null を送れる項目は、
        null で「空にする」。範囲の3つの規則は StudyLogInput と同じ
      type: object
      properties:
        date: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
        textbookId: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeStart: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeEnd: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeUnit:
          type: string
          nullable: true
          enum: [page, question, chapter, number, part, section]
        content: { type: string, maxLength: 500 }
        subject:
          type: string
          nullable: true
          enum: [english, math, japanese, science, social, other]
        done: { type: boolean }

    CompleteStudyPlanInput:
      description: 予定の完了（Zod の completeStudyPlanSchema）。範囲の3つの規則は StudyLogInput と同じ
      type: object
      required: [minutes]
      properties:
        minutes: { type: integer, format: int64, minimum: 1, maximum: 1440 }
        rangeStart: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeEnd: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeUnit:
          type: string
          nullable: true
          enum: [page, question, chapter, number, part, section]
        memo: { type: string, maxLength: 500 }

    StudyPlanRow:
      description: 予定の行（書き込みの応答）
      type: object
      required: [id, userId, date, content, subject, done, textbookId, rangeStart, rangeEnd, rangeUnit, createdAt, updatedAt]
      properties:
        id: { type: integer, format: int64 }
        userId: { type: string }
        date: { $ref: "#/components/schemas/IsoDateTime" }
        content: { type: string, nullable: true }
        subject: { type: string, nullable: true }
        done: { type: boolean }
        textbookId: { type: integer, format: int64, nullable: true }
        rangeStart: { type: integer, format: int64, nullable: true }
        rangeEnd: { type: integer, format: int64, nullable: true }
        rangeUnit: { type: string, nullable: true }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        updatedAt: { $ref: "#/components/schemas/IsoDateTime" }

    StudyLogWithTextbook:
      description: 実績の行に、参考書の行（無ければ null）を付けたもの
      allOf:
        - $ref: "#/components/schemas/StudyLogRow"
        - type: object
          required: [textbook]
          properties:
            textbook:
              allOf: [{ $ref: "#/components/schemas/TextbookRow" }]
              nullable: true

    CompletedStudyPlan:
      type: object
      required: [log, plan, isFirstStudyLog]
      properties:
        log: { $ref: "#/components/schemas/StudyLogWithTextbook" }
        plan: { $ref: "#/components/schemas/StudyPlanRow" }
        isFirstStudyLog: { type: boolean }

    CreatedCount:
      type: object
      required: [count]
      properties:
        count: { type: integer, format: int64 }

    StudyLogInput:
      description: >-
        実績の記録・書き換え（Zod の createStudyLogSchema）。項目をまたぐ規則はスキーマに書けないので、ここには無い：
        範囲の開始と終了はそろえて送る（range_incomplete）、開始 ≦ 終了（range_end_before_start）、
        範囲を送ったら単位も送る（range_unit_required）、日付は今日（日本時間）以前（future_date）。
        参考書を指定したら、自分の参考書で、範囲が参考書の単位と総量に合うこと（Error の 400）
      type: object
      required: [date, minutes]
      properties:
        date:
          description: 暦にある日付（invalid_format・invalid_date）
          type: string
          pattern: "^\\d{4}-\\d{2}-\\d{2}$"
        minutes: { type: integer, format: int64, minimum: 1, maximum: 1440 }
        subject:
          type: string
          nullable: true
          enum: [english, math, japanese, science, social, other]
        textbookId: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeStart: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeEnd: { type: integer, format: int64, minimum: 1, nullable: true }
        rangeUnit:
          type: string
          nullable: true
          enum: [page, question, chapter, number, part, section]
        memo:
          description: 500文字（コードポイント）まで。前後の空白は削る。null は不可
          type: string
          maxLength: 500

    StudyLogRow:
      description: 実績の行（書き込みの応答。一覧の StudyLog と違い、参考書は入れ子にせず userId・日時を持つ）
      type: object
      required: [id, userId, date, subject, minutes, textbookId, rangeStart, rangeEnd, rangeUnit, memo, studyPlanId, createdAt, updatedAt]
      properties:
        id: { type: integer, format: int64 }
        userId: { type: string }
        date: { $ref: "#/components/schemas/IsoDateTime" }
        subject: { type: string, nullable: true }
        minutes: { type: integer, format: int64 }
        textbookId: { type: integer, format: int64, nullable: true }
        rangeStart: { type: integer, format: int64, nullable: true }
        rangeEnd: { type: integer, format: int64, nullable: true }
        rangeUnit: { type: string, nullable: true }
        memo: { type: string, nullable: true }
        studyPlanId: { type: integer, format: int64, nullable: true }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        updatedAt: { $ref: "#/components/schemas/IsoDateTime" }

    CreatedStudyLog:
      description: 記録した実績と、それがその人の最初の記録か
      allOf:
        - $ref: "#/components/schemas/StudyLogRow"
        - type: object
          required: [isFirstStudyLog]
          properties:
            isFirstStudyLog: { type: boolean }

    Deleted:
      type: object
      required: [message]
      properties:
        message: { type: string, enum: [Deleted] }

    OkMessage:
      type: object
      required: [message]
      properties:
        message: { type: string, enum: [OK], x-enum-varnames: [OkMessageOK] }

    GoalInput:
      description: 志望校の登録（Zod の goalSchema）。status を省くと decided
      type: object
      required: [facultyId]
      properties:
        facultyId: { type: integer, format: int64, minimum: 1 }
        status: { type: string, enum: [candidate, decided] }

    GoalUpdateInput:
      description: 学部の差し替え（Zod の updateGoalSchema。goalSchema の全項目を任意にしたもの）
      type: object
      properties:
        facultyId: { type: integer, format: int64, minimum: 1 }
        status: { type: string, enum: [candidate, decided] }

    GoalPatchInput:
      description: 第一志望・メモ・ステータスの書き換え（Zod の patchGoalSchema）。送った項目だけを書き換える
      type: object
      properties:
        isFirstChoice: { type: boolean }
        note: { type: string, maxLength: 500, nullable: true }
        status: { type: string, enum: [candidate, decided] }

    TextbookInput:
      description: >-
        参考書の登録（Zod の createTextbookSchema）。名前で作る形が先に当たる（両方送ると名前で作る）。
        どちらにも当たらなければ invalid_union（field は null）。Go は本文を手で読む（textbook_writes.go）ので、
        oneOf の型は作らない（作ると oapi-codegen の runtime への依存が増える）
      x-go-type: any
      oneOf:
        - $ref: "#/components/schemas/TextbookNameInput"
        - $ref: "#/components/schemas/TextbookFromMasterInput"

    TextbookNameInput:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 100, description: 前後の空白を削ってから長さを確かめる }
        subject:
          type: string
          nullable: true
          enum: [english, math, japanese, science, social, other]
        rangeUnit:
          type: string
          enum: [page, question, chapter, number, part, section]

    TextbookFromMasterInput:
      type: object
      required: [masterId]
      properties:
        masterId: { type: integer, format: int64, minimum: 1 }

    TextbookProgressInput:
      description: 逆算設定の書き換え（Zod の updateTextbookProgressSchema）。送った項目だけを書き換える
      type: object
      properties:
        totalAmount: { type: integer, format: int64, minimum: 1, maximum: 100000 }
        rangeUnit:
          type: string
          enum: [page, question, chapter, number, part, section]
        targetDate: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$", nullable: true, description: 暦にある日付（Zod の z.iso.date()） }
        subject:
          type: string
          nullable: true
          enum: [english, math, japanese, science, social, other]

    ProfileInput:
      description: >-
        プロフィールの更新（Zod の profileSchema）。長さはコードポイントの数（絵文字も1）で数え、
        前後の空白は長さを確かめた後に削る（空白だけでも通り、空文字で保存される）
      type: object
      required: [nickname]
      properties:
        nickname: { type: string, minLength: 1, maxLength: 50 }

    User:
      description: 利用者の行（PUT /api/profile が返す）
      type: object
      required: [id, name, email, image, nickname, createdAt, updatedAt, emailVerified, firstStudyLogAt, analyticsSignUpTrackedAt]
      properties:
        id: { type: string }
        name: { type: string, nullable: true }
        email: { type: string, nullable: true }
        image: { type: string, nullable: true }
        nickname: { type: string, nullable: true }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        updatedAt: { $ref: "#/components/schemas/IsoDateTime" }
        emailVerified: { type: boolean }
        firstStudyLogAt:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true
        analyticsSignUpTrackedAt:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true

    Textbook:
      description: 実績・予定に JOIN した参考書（表示用）
      type: object
      required: [id, masterId, name, totalAmount, rangeUnit, targetDate, subject]
      properties:
        id: { type: integer, format: int64 }
        masterId: { type: integer, format: int64, nullable: true }
        name: { type: string }
        totalAmount: { type: integer, format: int64, nullable: true }
        rangeUnit: { type: string, nullable: true }
        targetDate:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true
        subject: { type: string, nullable: true }

    StudyLog:
      type: object
      required: [id, date, minutes, subject, textbookId, textbook, rangeStart, rangeEnd, rangeUnit, memo, studyPlanId]
      properties:
        id: { type: integer, format: int64 }
        date: { $ref: "#/components/schemas/IsoDateTime" }
        minutes: { type: integer, format: int64 }
        subject: { type: string, nullable: true }
        textbookId: { type: integer, format: int64, nullable: true }
        textbook:
          allOf: [{ $ref: "#/components/schemas/Textbook" }]
          nullable: true
        rangeStart: { type: integer, format: int64, nullable: true }
        rangeEnd: { type: integer, format: int64, nullable: true }
        rangeUnit: { type: string, nullable: true }
        memo: { type: string, nullable: true }
        studyPlanId: { type: integer, format: int64, nullable: true }

    StudyPlan:
      type: object
      required: [id, date, content, subject, done, studyLogId, textbookId, textbook, rangeStart, rangeEnd, rangeUnit]
      properties:
        id: { type: integer, format: int64 }
        date: { $ref: "#/components/schemas/IsoDateTime" }
        content: { type: string, nullable: true }
        subject: { type: string, nullable: true }
        done: { type: boolean }
        studyLogId: { type: integer, format: int64, nullable: true }
        textbookId: { type: integer, format: int64, nullable: true }
        textbook:
          allOf: [{ $ref: "#/components/schemas/Textbook" }]
          nullable: true
        rangeStart: { type: integer, format: int64, nullable: true }
        rangeEnd: { type: integer, format: int64, nullable: true }
        rangeUnit: { type: string, nullable: true }

    DailyStudyMinutes:
      type: object
      required: [date, minutes]
      properties:
        date: { $ref: "#/components/schemas/IsoDateTime" }
        minutes: { type: integer, format: int64 }

    DateRange:
      description: 両端を含む期間（"YYYY-MM-DD"）
      type: object
      required: [from, to]
      properties:
        from: { $ref: "#/components/schemas/IsoDate" }
        to: { $ref: "#/components/schemas/IsoDate" }

    Dashboard:
      type: object
      required: [month, logRange, logs, planRange, plans, dailyMinutes]
      properties:
        month:
          type: string
          description: 今日の月（"YYYY-MM"）
        logRange: { $ref: "#/components/schemas/DateRange" }
        logs:
          type: array
          items: { $ref: "#/components/schemas/StudyLog" }
        planRange: { $ref: "#/components/schemas/DateRange" }
        plans:
          type: array
          items: { $ref: "#/components/schemas/StudyPlan" }
        dailyMinutes:
          type: array
          items: { $ref: "#/components/schemas/DailyStudyMinutes" }

    Tag:
      type: object
      required: [id, name, createdAt]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }

    University:
      type: object
      required: [id, name, prefecture, type, createdAt]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        prefecture: { type: string }
        type: { type: string }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }

    Faculty:
      description: 学部（大学を入れ子にしない）
      type: object
      required: [id, name, examDate, createdAt, universityId]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        examDate: { $ref: "#/components/schemas/IsoDateTime" }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        universityId: { type: integer, format: int64 }

    FacultyWithTags:
      allOf:
        - $ref: "#/components/schemas/Faculty"
        - type: object
          required: [tags]
          properties:
            tags:
              type: array
              items: { $ref: "#/components/schemas/Tag" }

    FacultyWithUniversity:
      allOf:
        - $ref: "#/components/schemas/Faculty"
        - type: object
          required: [university]
          properties:
            university: { $ref: "#/components/schemas/University" }

    FacultyWithUniversityAndTags:
      allOf:
        - $ref: "#/components/schemas/FacultyWithUniversity"
        - type: object
          required: [tags]
          properties:
            tags:
              type: array
              items: { $ref: "#/components/schemas/Tag" }

    GoalFields:
      description: 志望校の列（学部は含まない）
      type: object
      required: [id, createdAt, userId, facultyId, isFirstChoice, note, status]
      properties:
        id: { type: integer, format: int64 }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        userId: { type: string }
        facultyId: { type: integer, format: int64 }
        isFirstChoice: { type: boolean }
        note: { type: string, nullable: true }
        status: { type: string }

    Goal:
      description: 志望校の一覧の1件。学部・大学・学部のタグつき
      allOf:
        - $ref: "#/components/schemas/GoalFields"
        - type: object
          required: [faculty]
          properties:
            faculty: { $ref: "#/components/schemas/FacultyWithUniversityAndTags" }

    FirstChoiceGoal:
      description: 第一志望。学部・大学つき（タグは付けない）
      allOf:
        - $ref: "#/components/schemas/GoalFields"
        - type: object
          required: [faculty]
          properties:
            faculty: { $ref: "#/components/schemas/FacultyWithUniversity" }

    TextbookRow:
      description: 自分の参考書（DB の行そのまま）
      type: object
      required: [id, userId, masterId, name, totalAmount, rangeUnit, targetDate, subject, createdAt, updatedAt]
      properties:
        id: { type: integer, format: int64 }
        userId: { type: string }
        masterId: { type: integer, format: int64, nullable: true }
        name: { type: string }
        totalAmount: { type: integer, format: int64, nullable: true }
        rangeUnit: { type: string, nullable: true }
        targetDate:
          allOf: [{ $ref: "#/components/schemas/IsoDateTime" }]
          nullable: true
        subject: { type: string, nullable: true }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        updatedAt: { $ref: "#/components/schemas/IsoDateTime" }

    TextbookMasterMetric:
      type: object
      required: [id, masterId, unit, totalAmount, isDefault, createdAt, updatedAt]
      properties:
        id: { type: integer, format: int64 }
        masterId: { type: integer, format: int64 }
        unit: { type: string }
        totalAmount: { type: integer, format: int64 }
        isDefault: { type: boolean }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        updatedAt: { $ref: "#/components/schemas/IsoDateTime" }

    TextbookMaster:
      type: object
      required: [id, name, publisher, edition, isbn, createdAt, updatedAt, metrics]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        publisher: { type: string, nullable: true }
        edition: { type: string, nullable: true }
        isbn: { type: string, x-go-name: ISBN }
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        updatedAt: { $ref: "#/components/schemas/IsoDateTime" }
        metrics:
          description: 総量の候補（id 順）。無くても []
          type: array
          items: { $ref: "#/components/schemas/TextbookMasterMetric" }

    NotificationPreference:
      type: object
      required: [emailMorningEnabled, emailEveningEnabled, lineMorningEnabled, lineEveningEnabled]
      properties:
        emailMorningEnabled: { type: boolean }
        emailEveningEnabled: { type: boolean }
        lineMorningEnabled: { type: boolean }
        lineEveningEnabled: { type: boolean }

    ExploreUniversity:
      description: >-
        大学を探す画面の1件。画面が使うのは大学の列と学部ごとのタグ名だけ。
        Go はこの形を手書きの型で返す（JSON のキーの順番を Node と同じにして ETag をそろえるため）
      type: object
      required: [id, name, prefecture, type, faculties]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        prefecture: { type: string }
        type: { type: string }
        faculties:
          type: array
          items:
            $ref: "#/components/schemas/ExploreFaculty"

    ExploreFaculty:
      type: object
      required: [tags]
      properties:
        tags:
          type: array
          items:
            $ref: "#/components/schemas/ExploreTag"

    ExploreTag:
      type: object
      required: [name]
      properties:
        name: { type: string }

    UniversityDetail:
      allOf:
        - $ref: "#/components/schemas/University"
        - type: object
          required: [faculties]
          properties:
            faculties:
              type: array
              items: { $ref: "#/components/schemas/FacultyWithTags" }

    UniversityDetailResponse:
      type: object
      required: [university, registeredFacultyIds]
      properties:
        university: { $ref: "#/components/schemas/UniversityDetail" }
        registeredFacultyIds:
          description: 自分が志望校に登録済みの学部 ID（昇順）
          type: array
          items: { type: integer, format: int64 }

    NotificationSlot:
      type: string
      enum: [morning, evening]
      x-enum-varnames: [NotificationSlotMorning, NotificationSlotEvening]

    NotificationSummary:
      type: object
      required: [date, slot, eligible, sent, skipped, failed]
      properties:
        date: { $ref: "#/components/schemas/IsoDate" }
        slot: { $ref: "#/components/schemas/NotificationSlot" }
        eligible: { type: integer, format: int64 }
        sent: { type: integer, format: int64 }
        skipped: { type: integer, format: int64 }
        failed: { type: integer, format: int64 }

    RegistrationTracking:
      type: object
      required: [shouldTrack]
      properties:
        shouldTrack: { type: boolean }
        method:
          description: 登録に使った方法（最初に作られたアカウント）。shouldTrack が true のときだけ
          type: string
          enum: [email, google, github]
          x-enum-varnames: [SignUpMethodEmail, SignUpMethodGoogle, SignUpMethodGithub]

    SimulationCohort:
      description: 合成ユーザーの続き方の型
      type: string
      enum: [steady, fading, sporadic, dropped]
      x-enum-varnames: [SimulationCohortSteady, SimulationCohortFading, SimulationCohortSporadic, SimulationCohortDropped]

    SimulationUser:
      type: object
      required: [seq, email, cohort, createdAt, dormantFrom, lastActedOn]
      properties:
        seq: { type: integer, format: int64 }
        email: { type: string }
        cohort:
          description: DB の値をそのまま返す（書き込みは SimulationCohort に限っている）
          type: string
        createdAt: { $ref: "#/components/schemas/IsoDateTime" }
        dormantFrom:
          allOf: [{ $ref: "#/components/schemas/IsoDate" }]
          nullable: true
        lastActedOn:
          allOf: [{ $ref: "#/components/schemas/IsoDate" }]
          nullable: true

    SimulationState:
      type: object
      required: [nextSeq, users]
      properties:
        nextSeq:
          description: 次に使う連番（最後の連番＋1。だれもいなければ 1）
          type: integer
          format: int64
        users:
          type: array
          items: { $ref: "#/components/schemas/SimulationUser" }

    SimulationUserMark:
      type: object
      required: [email, seq, cohort]
      properties:
        email:
          description: シミュレーション用のアドレス（delivered+simNNNNN@resend.dev）だけ
          type: string
        seq: { type: integer, format: int64, minimum: 1 }
        cohort: { $ref: "#/components/schemas/SimulationCohort" }

    SimulationUserUpdate:
      description: キーが無い項目は変えない。null なら消す
      type: object
      properties:
        lastActedOn:
          allOf: [{ $ref: "#/components/schemas/IsoDate" }]
          nullable: true
        dormantFrom:
          allOf: [{ $ref: "#/components/schemas/IsoDate" }]
          nullable: true
